.so-widget-sow-icon-default-ef3e143a7a32 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-ef3e143a7a32 .sow-icon span,
.so-widget-sow-icon-default-ef3e143a7a32 .sow-icon a span {
  display: inline-block;
  color: #000000 !important;
}