.so-widget-sow-simple-masonry-default-d75171398898 .sow-masonry-grid-item {
  overflow: hidden;
}
.so-widget-sow-simple-masonry-default-d75171398898 .sow-masonry-grid-item img {
  display: block;
  max-width: inherit;
}